NODE_ENV=development
PORT=6000
DATABASE=mongodb+srv://username:<password>@cluster0.jbkw2cc.mongodb.net/looker?retryWrites=true&w=majority
DATABASE_PASSWORD = gftetgtesvdfzegrgrefdfe
JWT_SECRET_STRING = geregregrerggerghre
JWT_EXPIRES = 30d
JWT_SECRET_STRING_REFRESH = 6gerregreger@egrggregreg@zmea$y9ZPgibwusmcUaRMYOrK6qo9rjECNy8d1ZWPOZooTtQBt6xDLGioAmFp8qwvijRKFTAtZAAvMEKFArdlPLWuRNtKYBZKIRb6saLvZJA8rRPJFMGAWlpe
JWT_EXPIRES_REFRESH = 30d
SERVER_URL = http://localhost:8000/public/
CLOUD_NAME=egrf
API_KEY_CLOUDINARY=gerreg
API_SECRET_CLOUDINARY=gergergergergerg